
USE [ProjectWebBanThuCung]
GO
/****** Object:  Table [dbo].[_TransactionIndex_237b54d1-d71b-4693-9336-2c1897920f9b]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_TransactionIndex_237b54d1-d71b-4693-9336-2c1897920f9b](
	[Id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[username] [nvarchar](20) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[address] [nvarchar](300) NOT NULL,
	[avatar] [nvarchar](300) NULL,
	[birthday] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[address_Book]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address_Book](
	[id] [nvarchar](20) NOT NULL,
	[username] [nvarchar](20) NULL,
	[address] [nvarchar](400) NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_ROLE]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_ROLE](
	[ROLE_ID] [bigint] NOT NULL,
	[ROLE_NAME] [varchar](30) NOT NULL,
 CONSTRAINT [APP_ROLE_PK] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APP_USER]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APP_USER](
	[USER_ID] [bigint] NOT NULL,
	[USER_NAME] [nvarchar](20) NULL,
	[ENCRYTED_PASSWORD] [varchar](128) NOT NULL,
	[ENABLED] [bit] NOT NULL,
 CONSTRAINT [APP_USER_PK] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id] [nvarchar](30) NOT NULL,
	[username] [nvarchar](30) NULL,
	[idaddress] [nvarchar](30) NULL,
	[payment] [nvarchar](30) NULL,
	[totalcost] [int] NULL,
	[time] [datetime] NULL,
	[note] [nvarchar](400) NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_Details]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_Details](
	[id] [nvarchar](30) NOT NULL,
	[idbill] [nvarchar](30) NULL,
	[idproduct] [nvarchar](30) NULL,
	[price] [int] NULL,
	[quantity] [int] NULL,
	[totalcost] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[id] [nvarchar](20) NOT NULL,
	[username] [nvarchar](20) NOT NULL,
	[idproduct] [nvarchar](20) NOT NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
	[totalcost] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[id] [nvarchar](20) NOT NULL,
	[idproduct] [nvarchar](20) NOT NULL,
	[username] [nvarchar](20) NOT NULL,
	[text] [nvarchar](1000) NOT NULL,
	[date] [datetime] NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[findAssociations]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[findAssociations](
	[TID] [nvarchar](20) NOT NULL,
	[idCus] [nvarchar](20) NOT NULL,
	[trans] [varchar](200) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[options]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[options](
	[minsup] [float] NOT NULL,
	[minconf] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persistent_Logins]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persistent_Logins](
	[username] [varchar](64) NOT NULL,
	[series] [varchar](64) NOT NULL,
	[token] [varchar](64) NOT NULL,
	[last_used] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[series] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[replycomment]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[replycomment](
	[id] [nvarchar](20) NOT NULL,
	[idcomment] [nvarchar](20) NOT NULL,
	[username] [nvarchar](20) NOT NULL,
	[text] [nvarchar](1000) NOT NULL,
	[date] [datetime] NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review](
	[id] [nvarchar](20) NOT NULL,
	[idproduct] [nvarchar](20) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[comment] [nvarchar](1000) NOT NULL,
	[rate] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shoes]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pets](
	[id] [nvarchar](20) NOT NULL,
	[name] [varchar](100) NULL,
	[weight] [float] NULL,
	[type] [nvarchar](20) NULL,
	[color] [nvarchar](20) NULL,
	[origin] [nvarchar](30) NULL,
	[price] [float] NULL,
	[imageslink] [nvarchar](30) NULL,
	[pricebefore] [float] NULL,
	[checkquality] [nchar](10) NULL,
	[description] [nvarchar](1000) NULL,
	[rate] [int] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLE]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLE](
	[ID] [bigint] NOT NULL,
	[USER_ID] [bigint] NOT NULL,
	[ROLE_ID] [bigint] NOT NULL,
 CONSTRAINT [USER_ROLE_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[viewHistory]    Script Date: 9/11/2021 8:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[viewHistory](
	[id] [nvarchar](20) NOT NULL,
	[username] [nvarchar](100) NULL,
	[idproduct] [nvarchar](30) NULL,
	[datemodify] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[_TransactionIndex_237b54d1-d71b-4693-9336-2c1897920f9b] ([Id]) VALUES (N'431eb26c-4fcc-4548-ad4c-117cc27af595')
INSERT [dbo].[_TransactionIndex_237b54d1-d71b-4693-9336-2c1897920f9b] ([Id]) VALUES (N'a8cf4b05-f056-4830-814a-1d1fdfcd3a17')
INSERT [dbo].[_TransactionIndex_237b54d1-d71b-4693-9336-2c1897920f9b] ([Id]) VALUES (N'39c089bb-6ee4-4df6-b5f6-2c9af1050ab9')
GO
INSERT [dbo].[accounts] ([username], [fullname], [phone], [email], [address], [avatar], [birthday]) VALUES (N'hongson', N'Nguyen Hong Son', N'0969177286', N'sonnguyen.01081999@gmail.com', N'381 Xa Hau My Trinh - Huyen Cai Be - Tinh Tien Giang', N'img/account/hongson.jpg', CAST(N'2021-02-20' AS Date))
INSERT [dbo].[accounts] ([username], [fullname], [phone], [email], [address], [avatar], [birthday]) VALUES (N'duyphuong', N'Le Duy Phuong', N'0967463529', N'leduyphuong@gmail.com', N'Quan 12 - Thanh Pho Ho Chi Minh', N'img/account/duyphuong.jpg', CAST(N'2021-02-20' AS Date))
GO
INSERT [dbo].[address_Book] ([id], [username], [address], [status]) VALUES (N'AB263B47', N'hongson', N'381 Xa Hau My Trinh - Huyen Cai Be - Tinh Tien Giang', N'DEFAULT')
INSERT [dbo].[address_Book] ([id], [username], [address], [status]) VALUES (N'AB21C4BA', N'duyphuong', N'Quan 12 - Thanh Pho Ho Chi Minh', N'DEFAULT')
GO
INSERT [dbo].[APP_ROLE] ([ROLE_ID], [ROLE_NAME]) VALUES (1, N'ADMIN')
INSERT [dbo].[APP_ROLE] ([ROLE_ID], [ROLE_NAME]) VALUES (2, N'USER')
GO
INSERT [dbo].[APP_USER] ([USER_ID], [USER_NAME], [ENCRYTED_PASSWORD], [ENABLED]) VALUES (1, N'hongson', N'$2a$10$aHm3gyBE8nwsJjwYZ0IvpePcH9hwkHSKTSKcQ.GJ2xa1nsNa7I7Ka', 1)
INSERT [dbo].[APP_USER] ([USER_ID], [USER_NAME], [ENCRYTED_PASSWORD], [ENABLED]) VALUES (2, N'duyphuong', N'$2a$10$GqWEEsG.jcJv7YzwKEZJO.ac/kCBUErrqB1oXH3F5ULaRGX2H3XlS', 1)
GO
INSERT [dbo].[bill] ([id], [username], [idaddress], [payment], [totalcost], [time], [note], [status]) VALUES (N'BI131714', N'hongson', N'AB263B47', N'CASH', 1030000, CAST(N'2021-03-17T11:08:50.093' AS DateTime), N'', N'CANCELLED')
INSERT [dbo].[bill] ([id], [username], [idaddress], [payment], [totalcost], [time], [note], [status]) VALUES (N'BI1BCBD7', N'hongson', N'AB263B47', N'CASH', 1938000, CAST(N'2021-03-17T11:39:53.563' AS DateTime), N'', N'CANCELLED')
INSERT [dbo].[bill] ([id], [username], [idaddress], [payment], [totalcost], [time], [note], [status]) VALUES (N'BI21B7C7', N'hongson', N'AB263B47', N'CASH', 800000, CAST(N'2021-03-17T11:33:01.877' AS DateTime), N'', N'CANCELLED')
GO
INSERT [dbo].[bill_Details] ([id], [idbill], [idproduct], [price], [quantity], [totalcost]) VALUES (N'BD0EB577', N'BIBB6B42', N'P001', 180000, 7, 1260000)
INSERT [dbo].[bill_Details] ([id], [idbill], [idproduct], [price], [quantity], [totalcost]) VALUES (N'BD2DBD77', N'BI748212', N'C006', 8000, 7, 56000)
INSERT [dbo].[bill_Details] ([id], [idbill], [idproduct], [price], [quantity], [totalcost]) VALUES (N'BD612280', N'BICAE9D0', N'P003', 220000, 3, 660000)
GO
INSERT [dbo].[carts] ([id], [username], [idproduct], [price], [quantity], [totalcost]) VALUES (N'CRAB2A2A4', N'duyphuong', N'C004', 10000, 1, 10000)
GO
INSERT [dbo].[comment] ([id], [idproduct], [username], [text], [date], [status]) VALUES (N'CM000001', N'P001', N'duyphuong', N'This dog is really cute!', CAST(N'2021-04-26T08:00:00.000' AS DateTime), N'ACTIVE')
GO
INSERT [dbo].[options] ([minsup], [minconf]) VALUES (50, 50)
GO
INSERT [dbo].[replycomment] ([id], [idcomment], [username], [text], [date], [status]) VALUES (N'RP000001', N'CM000001', N'hongson', N'Yeah! Thank you very much <3', CAST(N'2021-04-26T08:05:00.000' AS DateTime), N'ACTIVE')
GO
INSERT [dbo].[review] ([id], [idproduct], [username], [comment], [rate]) VALUES (N'RV158823', N'P005', N'hongson', N'Amazing', 5)
INSERT [dbo].[review] ([id], [idproduct], [username], [comment], [rate]) VALUES (N'RV163907', N'B003', N'duyphuong', N'Lovely', 5)
INSERT [dbo].[review] ([id], [idproduct], [username], [comment], [rate]) VALUES (N'RV231A14', N'P001', N'minhphung', N'Hahahahah', 5)
GO
INSERT [dbo].[pets] ([id], [name], [weight], [type], [color], [origin], [price], [imageslink], [pricebefore], [checkquality], [description], [rate], [status]) VALUES (N'B001', N'Pin Bowl', 0, N'Bowl', N'Blue', N'Vietnam', 50000, N'img/B001.jpg', 0, N'yes       ', N'', 0, N'AVAILABLE')
INSERT [dbo].[pets] ([id], [name], [weight], [type], [color], [origin], [price], [imageslink], [pricebefore], [checkquality], [description], [rate], [status]) VALUES (N'B002', N'Vanx Bowl', 0, N'Bowl', N'Pink', N'Vietnam', 50000, N'img/B002.jpg', 0, N'yes       ', N'', 0, N'AVAILABLE')
INSERT [dbo].[pets] ([id], [name], [weight], [type], [color], [origin], [price], [imageslink], [pricebefore], [checkquality], [description], [rate], [status]) VALUES (N'B003', N'Feeding Bowl', 0, N'Bowl', N'Black', N'Vietnam', 35000, N'img/B003.jpg', 0, N'yes       ', N'', 0, N'AVAILABLE')
GO
INSERT [dbo].[USER_ROLE] ([ID], [USER_ID], [ROLE_ID]) VALUES (-1253231772, -1734440584, 2)
INSERT [dbo].[USER_ROLE] ([ID], [USER_ID], [ROLE_ID]) VALUES (-1189471999, -260199343, 2)
INSERT [dbo].[USER_ROLE] ([ID], [USER_ID], [ROLE_ID]) VALUES (1, 1, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [APP_ROLE_UK]    Script Date: 9/11/2021 8:19:43 PM ******/
ALTER TABLE [dbo].[APP_ROLE] ADD  CONSTRAINT [APP_ROLE_UK] UNIQUE NONCLUSTERED 
(
	[ROLE_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER INDEX [APP_ROLE_UK] ON [dbo].[APP_ROLE] DISABLE
GO
/****** Object:  Index [USER_ROLE_UK]    Script Date: 9/11/2021 8:19:43 PM ******/
ALTER TABLE [dbo].[USER_ROLE] ADD  CONSTRAINT [USER_ROLE_UK] UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC,
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER INDEX [USER_ROLE_UK] ON [dbo].[USER_ROLE] DISABLE
GO
ALTER TABLE [dbo].[address_Book]  WITH NOCHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[accounts] ([username])
GO
ALTER TABLE [dbo].[address_Book]  WITH NOCHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[accounts] ([username])
GO
ALTER TABLE [dbo].[APP_USER]  WITH NOCHECK ADD FOREIGN KEY([USER_NAME])
REFERENCES [dbo].[accounts] ([username])
GO
ALTER TABLE [dbo].[APP_USER]  WITH NOCHECK ADD FOREIGN KEY([USER_NAME])
REFERENCES [dbo].[accounts] ([username])
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FK_cart_pets] FOREIGN KEY([idproduct])
REFERENCES [dbo].[pets] ([id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FK_cart_pets]
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH NOCHECK ADD FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[APP_ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH NOCHECK ADD FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[APP_ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH NOCHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[APP_USER] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH NOCHECK ADD FOREIGN KEY([USER_ID])
REFERENCES [dbo].[APP_USER] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH NOCHECK ADD  CONSTRAINT [USER_ROLE_FK1] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[APP_USER] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_ROLE] NOCHECK CONSTRAINT [USER_ROLE_FK1]
GO
ALTER TABLE [dbo].[USER_ROLE]  WITH NOCHECK ADD  CONSTRAINT [USER_ROLE_FK2] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[APP_ROLE] ([ROLE_ID])
GO
ALTER TABLE [dbo].[USER_ROLE] NOCHECK CONSTRAINT [USER_ROLE_FK2]
GO
