

@model PetsProject.Models.APP_USER



@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Layout/SignInOutLayout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="login_box_img">
                <img class="img-fluid" src="~/img/login.jpg" alt="">
                <div class="hover">
                    <h4>New to our website?</h4>
                    <p>There are advances being made in science and technology everyday, and a good example of this is the</p>
                    <a class="primary-btn" href="@Url.Action("SignIn","Login")">LogIn Account</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="login_form_inner">
                <h3>Restore account</h3>
                @using (Html.BeginForm("Forget", "ForgetPass", FormMethod.Post, new { @class = "row login_form", @id = "forget-form", onsubmit = "return checkValidationForget();" }))
                {

                    @Html.AntiForgeryToken()
                    HtmlHelper.ClientValidationEnabled = true;
                    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                        <span id="errorUsername"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                        <span id="errorEmail"> </span>
                        @if (ViewBag.errorEmailFormat != null)
                        {
                            <span style="color: red">@ViewBag.errorEmailFormat</span>
                        }
                    </div>




                    <div class="col-md-12 form-group">


                    </div>

                    <div class="col-md-12 form-group">
                        <input type="submit" value="Forget Password" class="primary-btn">

                    </div>
                    <div class="col-md-12 form-group">
                    </div>
                    <div class="col-md-12 form-group">
                    </div>
                    <div class="col-md-12 form-group">
                    </div>
                }
            </div>
        </div>
    </div>
</div>

