<div id="sidebar" xmlns:th="http://www.thymeleaf.org" > <a href="#" class="visible-phone"><i class="icon icon-th"></i>Tables</a>
    <ul>
      <li class="submenu"> <i class="icon icon-th-list"></i><span> <a th:href="@{/admin/product}">Product Manager</a></span></li>
      <li class="submenu"> <i class="icon icon-th-list"></i> <span><a th:href="@{/admin/account}">Account Manager</a></span></li>
      <li class="submenu"> <i class="icon icon-th-list"></i> <span><a th:href="@{/admin/bill}">Bill Manager</a></span></li>
      <li class="submenu"> <i class="icon icon-th-list"></i> <span><a th:href="@{/admin/comment}">Comment Manager</a></span></li>
    </ul>
  </div>